@{
    ViewBag.Title = "Register";
}
<h2>Registration Form</h2>
<form action="/Home/AddUser" method="post">
    <input type="text" id="fName" pattern="[A-Z]{1}[a-zA-Z]{1,}" value="First Name"/><br />
    <input type="text" id="lName" pattern="[A-Z]{1}[a-zA-Z-]{1,}" value="Last Name"/><br />
    <input type="email" id="email" value="email@example.com"/><br />
    <input type="tel" id="phone" pattern="\d{3}-\d{3}-\d{4}" value="XXX-XXX-XXXX"/><br />
    <input type="password" id="pass" /><br />
    <input type="submit"/>
</form>